.table_accounts{
    margin-top: 20px;
    margin-left: 26%;
    font-size: 22px;  
    border: gray 3px outset;
    text-align: center;
    background-color: white;
    display: block;
    width: 593px;
    height: 300px;
}

.table_accounts tbody{
    display:block;
    width: 620px;
    height: 225px;
    overflow-y: auto;
    border: 2px black;
}

.table_accounts thead{
   display: block;
   width: 590px;
}

.table_accounts td {
  text-align: center;
  width: 600px;
}

.table_data{
    font-size: 20px; 
    border: white 4px outset;
    text-align: center;
    background-color: white;
    width: 273px;
    margin-left: 40%;
    margin-top: 5%;
}

.table_account{
    width: 20%;
    text-align: center;
    margin-top: 1%;
    margin-left: 3%;
    background-color: #052D40;
    color: white;
    border: white 4px inset;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 22px;
    display: inline-table;
}

.table_movements{
    margin-top: -26%;
    margin-left: 28%;
    border: gray 4px outset;
    text-align: center;
    background-color: white;
    font-size: 22px;
}

.table_movements tbody{
    display:block;
    width: 850px;
    height: 225px;
    overflow-y: auto;
    border: 2px black;
}

.table_movements thead{
   display: block;
   width: 850px;
}

.table_movements td {
  text-align: center;
  width: 200px;
}

.table_accounts_link{
    margin-left: 650px;
    margin-top: -128px;
    border: gray 2px outset;
    background-color: #E1E7F3;
    text-align: center;
    font-size: 22px;
    overflow: scroll;
    width: 390px;
    height: 190px;
}


.table_accounts_link tbody{
    display:block;
    width: 390px;
    height: 225px;
    overflow-y: auto;
    border: 2px black;
}

.table_accounts_link thead{
   display: block;
   width: 390px;
}

.table_accounts_link td {
  text-align: center;
  width: 200px;
}

.table_accredit{
    text-align: center;
    margin-left: 29%;
    margin-top: 25px;
    border: white 4px inset;
    background-color: #E1E7F3;
    font-size: 22px;
    width: 690px;
    height: 225px;
}

.table_accredit tbody{
    display:block;
    width: 690px;
    height: 225px;
    overflow-y: auto;
    border: 2px black;
}

.table_accredit thead{
   display: block;
   width: 690px;
}

.table_accredit td {
  text-align: center;
  width: 400px;
}

.table_view_accredit{
    text-align: center;
    margin-left: 18%;
    margin-top: 25px;
    border: white 4px inset;
    background-color: #E1E7F3;
    font-size: 22px;
    width: 850px;
    height: 225px;
}

.table_view_accredit tbody{
    display:block;
    width: 850px;
    height: 225px;
    overflow-y: auto;
    border: 2px black;
}

.table_view_accredit thead{
   display: block;
   width: 850px;
}

.table_view_accredit td {
  text-align: center;
  width: 200px;
}