.menu {
    background-color: #052D40;
    font-family: fantasy;
    font: 25px bold;
    height: 55px;
    margin-top: -15px;
}

.menu li {
    display: inline-block;
    padding-right: 13px;
    padding-top: 15px;
}

.menu li :hover{
    border-radius: 7px;
    background-color: #1C3D4C;
}

.menu li a:link, .menu li a:visited{
    text-decoration: none;
    color:white;
    padding: 10px;
}

.menu li:hover > ul {
    display:block;
    background-color: #052D40;
    float:left;
    width: 10px;
    height: 85px;
}

.menu li ul {
    display:none;
    position:absolute;
    font-size: 20px;
    min-width:190px;
    border-radius: 7px;
}