:root{
     --color-principal: #0A641E;
}

.alto{
    height: 380px;
}

#icono{
    height: 1000%;
    width: 1000%;
    margin-left: -1000%;
    margin-top: 250%;
}

#icono2{
    height: 850%;
    width: 1100%;
    margin-left: 350%;
    margin-top: 300%;
}

input[type="text"].invalid, input[type="password"].invalid, select.invalid{
    border: 3px solid #FC6544;
}